<IfModule mod_authz_core.c>
    <FilesMatch "\.(php[0-9]?|phtml|phar|phps)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php[0-9]?|phtml|phar|phps)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
    RemoveHandler .php .php3 .php4 .php5 .php7 .php8 .phtml .phar .phps
    RemoveType .php .php3 .php4 .php5 .php7 .php8 .phtml .phar .phps
</IfModule>

<IfModule mod_cgi.c>
    Options -ExecCGI
</IfModule>
